{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <section class="relative mx-auto">
            <!-- navbar -->
            <nav class="flex justify-between bg-blue-400 text-white w-screen">
                <div class="px-5 xl:px-12 py-6 flex w-full items-center">
                    <a class="text-3xl font-bold font-heading" href="#">
                        <!-- <img class="h-9" src="logo.png" alt="logo"> -->
                        Ratatouille
                    </a>
                    <!-- Nav Links -->
                    <ul class="hidden md:flex px-4 mx-auto font-semibold font-heading space-x-12">
                        <li><a class="hover:text-gray-300" href="#">Acceuil</a></li>
                        <li><a class="hover:text-gray-300" href="#">Activité</a></li>
                        <li><a class="hover:text-gray-300" href="#">Dépenses</a></li>
                        <li><a class="hover:text-gray-300" href="#">Contact</a></li>
                        <li><a class="hover:text-gray-300" href="#">FAQ</a></li>
                    </ul>
                    <!-- Header Icons -->
                    <div class="hidden xl:flex items-center space-x-5 items-center">
                        <!-- Sign In / Register      -->
                        <a class="flex items-center hover:text-gray-300" href="/logIn">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:text-gray-300" fill="none"
                                 viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <!-- Responsive navbar -->
                <a class="navbar-burger self-center mr-12 xl:hidden" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:text-gray-300" fill="none"
                         viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 6h16M4 12h16M4 18h16"/>
                    </svg>
                </a>
            </nav>
        </section>
    </div>

    <div class="w-full h-full">
        <img class="w-64 h-64" href="https://www.google.com/url?sa=i&url=https%3A%2F%2Ftwitter.com%2Fcrevarddunet%2Fstatus%2F1196705458184167424&psig=AOvVaw1WQNZ9FzH3rsNNGAzkriOB&ust=1636638781235000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCLidyPn4jfQCFQAAAAAdAAAAABAD">
    </div>
    <!-- component -->
    <div class="mb-16">
        <footer class="text-gray-600 body-font bg-red-400">
            <div class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
                <div class="w-1/3 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
                    <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 text-white p-2 bg-red-700 rounded-full"
                             fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M12 18h.01M7 21h10a2 2 0 002-2V5a2 2 0 00-2-2H7a2 2 0 00-2 2v14a2 2 0 002 2z"/>
                        </svg>
                        <span class="ml-3 text-xl text-white">Ratatouille</span>
                    </a>
                    <p class="mt-2 text-sm text-white">Une application pour les rats faitent par des rats !</p>
                </div>
                <div class="flex-grow flex flex-wrap w-2/3 md:pl-20 -mb-10 md:mt-0 mt-10 text-center justify-evenly">
                    <div class="lg:w-1/3 md:w-1/2 w-full px-4">
                        <h2 class="title-font font-bold text-white tracking-widest text-md mb-3">CATEGORIES</h2>
                        <nav class="list-none mb-10">
                            <li>
                                <a class="text-white hover:text-red-300" href="#">First Link</a>
                            </li>
                            <li>
                                <a class="text-white hover:text-red-300" href="#">Second Link</a>
                            </li>
                            <li>
                                <a class="text-white hover:text-red-300" href="#">Third Link</a>
                            </li>
                            <li>
                                <a class="text-white hover:text-red-300" href="#">Fourth Link</a>
                            </li>
                        </nav>
                    </div>
                    <div class="lg:w-1/3 md:w-1/2 w-full px-4">
                        <h2 class="title-font font-bold text-white tracking-widest text-md mb-3">Contactez-nous</h2>
                        <nav class="list-none mb-10">
                            <li>
                                <a class="text-white hover:text-red-300" href="#">First Link</a>
                            </li>
                            <li>
                                <a class="text-white hover:text-red-300" href="#">Second Link</a>
                            </li>
                            <li>
                                <a class="text-white hover:text-red-300" href="#">Third Link</a>
                            </li>
                            <li>
                                <a class="text-white hover:text-red-300" href="#">Fourth Link</a>
                            </li>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="bg-blue-400">
                <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
                    <p class="text-white text-sm text-center">2021 RATATOUILLE ©</p>
                    <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
                    <a class="text-gray-200">
                        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                             class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                        </svg>
                    </a>
                        <a class="ml-3 text-gray-200">
                            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                 class="w-5 h-5" viewBox="0 0 24 24">
                                <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                            </svg>
                        </a>
                        <a class="ml-3 text-gray-200">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                 stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                                <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                            </svg>
                        </a>
                        <a class="ml-3 text-gray-200">
                            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round"
                                 stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                                <path stroke="none"
                                      d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                                <circle cx="4" cy="4" r="2" stroke="none"></circle>
                            </svg>
                        </a>
                    </span>
                </div>
            </div>
        </footer>
    </div>

    </footer>
    </div>
{% endblock %}