{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <div class="w-full h-full bg-red-500 flex flex-column justify-center align-center">
        <div class="h-full w-1/3 bg-white">
            <h1 class="w-full">Create new User</h1>

            {{ include('user/_form.html.twig') }}

            <button class="w-10/12 shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                    type="button" href="{{ path('user_index') }}">Afficher tous les utilisateurs
            </button>
            {# <a href="{{ path('user_index') }}">Afficher tous les utilisateurs</a> #}
        </div>
    </div>
{% endblock %}
